# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Database
*.db
*.sqlite
*.sqlite3
!database.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node modules (if any)
node_modules/
